
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="gallery-area fix">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="gallery-active owl-carousel">
                    <div class="gallery-img">
                        <a href="#"><img src="assets/img/gallery/roomgalery1.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a href="#"><img src="assets/img/gallery/roomgalery2.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a href="#"><img src="assets/img/gallery/roomgalery3.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>